/*
    Colors:
        Light pink: #efc3f5
        Dark pink: #faa6ff
        Light purple: #7353ba
        Dark purple: #2f195f
        Blackish blue: #0f1020

    Sizes:
        Images:
            Logo size: 250px
            She-Ra size: 200px (D), 150px (M)
            Hordak size: 300px (D), 200px (T), 150px (M)
            Shift-Wind size: 150px
            He-Man size: 100px
            Bow size: 100px
        Padding:
            Left-aside: 20px 0 (D), 40px (M)
            Hordak: 20px 40px (D), 0 30px (T & M)
            Ally: 20px 40px (D), 20px (T)
        Column size:
            Body: 200px auto (D)
            Odd child ally: 200px auto (D)
            Even child ally: auto 200px (D)
            Navigation bar: 90% 10% (T)
            Ally first child: 200px auto (T)
            Hordak: 1fr 2fr (T), 1fr 3fr (M)
            Left aside: 1fr 1fr (M)
        Row size:
            Main: 150px auto (D), 150px 250px auto (T), 200px 250px auto (M)

*/

/* General */
main .allies .ally:first-child img {
    width: 150px;
}
main .allies .ally:not(:first-child) img {
    width: 100px;
}

main .allies .ally:nth-child(even) {
    background-color: #efc3f5;
}
main .allies .ally:nth-child(odd) {
    background-color: #faa6ff;
}

/* General ends here */

/* Mobile */
@media screen and (max-width: 480px) {

}

/* Tablet */
@media screen and (min-width: 480px) and (max-width: 1024px) {
    .left-aside {
        display: none;
    }
    main {
        display: grid;
        grid-template-rows: 150px 250px auto;
    }
    main .hordak img {
        width: 200px;
    }
    main .navigation-bar {
        display: grid;
        justify-items: center;
        align-content: center;
        background-color: #7353ba;
        border-bottom: solid 5px #2f195f;
    }
    main .hordak {
        display: grid;
        font-size: 1.2em;
        justify-items: center;
        align-content: center;
        background-color: #0f1020;
        color: white;
        grid-template-columns: 1fr 2fr;
    }
    main .allies {
        display: grid;
        grid-template-areas:
            "shift-wind shift-wind"
            "he-man bow";
    }
    main .allies .ally:nth-child(1) {
        grid-area: shift-wind;
    }
    main .allies .ally:nth-child(2) {
        grid-area: he-man;
    }
    main .allies .ally:nth-child(3) {
        grid-area: bow;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 1fr;
    }
    .left-aside {
        display: grid;
        background-color: #efc3f5;
        border-right: solid 5px #faa6ff;
        padding: 20px 0;
        font-size: 1.8em;
    }
    .left-aside img {
        width: 200px;
        align-self: flex-end;
    }
    body main {
        display: grid;
        grid-template-rows: 150px auto;
        grid-template-areas:
            "navigation navigation navigation"
            "hordak allies allies";
    }
    main .navigation-bar {
        display: grid;
        grid-area: navigation;
        justify-items: center;
        align-content: center;
        background-color: #7353ba;
        border-bottom: solid 5px #2f195f;
    }
    main .navigation-bar img {
        width: 250px;
    }
    main .navigation-bar .menu-icon {
        display: none;
    }
    main .hordak {
        display: grid;
        grid-area: hordak;
        background-color: #0f1020;
        color: white;
        font-size: 1.8em;
        padding: 20px 40px;
        justify-items: center;
        align-items: flex-start;
    }
    main .allies {
        display: grid;
        grid-area: allies;
        grid-template-rows: auto auto auto;
    }
    main .allies .ally {
        display: grid;
        justify-items: center;
        align-items: center;
        padding: 20px 40px;
    }
    main .allies .ally img {
        grid-area: ally-img;
    }
    main .allies .ally p {
        grid-area: ally-paragraph;
    }
    main .allies .ally:nth-child(even) {
        background-color: #efc3f5;
        grid-template-areas:
            "ally-paragraph ally-img";
    }
    main .allies .ally:nth-child(odd) {
        background-color: #faa6ff;
        grid-template-areas:
            "ally-img ally-paragraph";
    }
    main .hordak img {
        width: 300px;
    }
}
