* { box-sizing: border-box; }

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Josefin Sans' !important;
}

ul {
    list-style: none;
    padding-left: 0;
}

.links .link:hover {
    color: white;
    transform: rotateY(180deg);
    cursor: pointer;
}

.links .link {
    text-align: center;
    padding: 20px 0;
    transition: all .5s ease-in;
}

a {
    text-decoration: none;
    color: black;
}
